[submodule "itch.io-downloader"]
	path = itch.io-downloader
	url = https://github.com/GarnetSunset/itch.io-downloader
[submodule "unrpa"]
	path = unrpa
	url = https://github.com/Lattyware/unrpa
	branch = master
